.message-list {
  max-height: 60vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #343a40;
  background: #2a2d30;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #6c757d;
  background: #d2d4d6;
}