.header {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  padding: 10px 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
}

.header-last-message-date {
  margin-left: auto;
}

.header-users-count {
  margin-left: 5px;
}

.header-messages-count {
  margin-left: 5px;
}

.additinal-text {
  margin-left: 20px;
}