.main-header {
  background-color: rgb(224, 223, 223);
}

.main-header__wrapper {
  display: flex;
  align-items: center;
}

.main-header__logo {
  border-radius: 60px;
  width: 60px;
  height: 60px;
  margin: 10px 20px 10px 0px;
}

.main-header__name {
  font-size: 24px;
  font-weight: bold;
}