.message {
  border-radius: 20px;
  background-color: rgb(222, 225, 226);
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.message-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 40px;
}

.message-user-avatar {
  margin: 0 10px;
}

.message-text {
  margin: 0 15px;
}

.group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.message-like,
.message-liked {
  margin: 0 15px;
}

.message-liked {
  height: 40px;
  width: 40px;
}

.message-like {
  height: 40px;
  width: 40px;
}
